{{ define "main" }}

<div class="container-fluid text-center bg-water py-5" height="2500px">
  <h1 class="text-center py-3">
    Midst of a Water Crisis
  </h1>

  <iframe
    src="https://www.google.com/maps/d/embed?mid=1AJOy803XF-X86zXfi0xWXOnqltxVm6B9"
    width="85%"
    height="800"
  ></iframe>
</div>

<div class="py-4"></div>
<div class="container-fluid col-lg-10">
  <div class="card-deck">
    <div class="card text-center border-0">
      <a href="/countries/mexico/" class="text-decoration-none">
        <button class="btn btn-outline-secondary px-5 border-0">
          Mexico
        </button>
      </a>
    </div>
    <div class="card text-center border-0">
      <a href="/countries/congo/" class="text-decoration-none">
        <button class="btn btn-outline-secondary px-5 border-0">
          Congo
        </button>
      </a>
    </div>
    <div class="card text-center border-0">
      <a href="/countries/pakistan/" class="text-decoration-none">
        <button class="btn btn-outline-secondary px-5 border-0">
          Pakistan
        </button>
      </a>
    </div>
    <div class="card text-center border-0">
      <a href="/countries/bhutan/" class="text-decoration-none">
        <button class="btn btn-outline-secondary px-5 border-0">
          Bhutan
        </button>
      </a>
    </div>
    <div class="card text-center border-0">
      <a href="/countries/ghana/" class="text-decoration-none">
        <button class="btn btn-outline-secondary px-5 border-0">
          Ghana
        </button>
      </a>
    </div>
  </div>
</div>
<div class="py-2"></div>
<div class="container-fluid col-lg-10">
  <div class="card-deck">
    <div class="card text-center border-0">
      <a href="/countries/nepal/" class="text-decoration-none">
        <button class="btn btn-outline-secondary px-5 border-0">
          Nepal
        </button>
      </a>
    </div>
    <div class="card text-center border-0">
      <a href="/countries/cambodia/" class="text-decoration-none">
        <button class="btn btn-outline-secondary px-5 border-0">
          Cambodia
        </button>
      </a>
    </div>
    <div class="card text-center border-0">
      <a href="/countries/nigeria/" class="text-decoration-none">
        <button class="btn btn-outline-secondary px-5 border-0">
          Nigeria
        </button>
      </a>
    </div>
    <div class="card text-center border-0">
      <a href="/countries/ethiopia/" class="text-decoration-none">
        <button class="btn btn-outline-secondary px-5 border-0">
          Ethiopia
        </button>
      </a>
    </div>
    <div class="card text-center border-0">
      <a href="/countries/uganda/" class="text-decoration-none">
        <button class="btn btn-outline-secondary px-5 border-0">
          Uganda
        </button>
      </a>
    </div>
  </div>
</div>
{{ end }}
